.input {
    background-color: transparent;
    text-align: center;
    font-size: 1.8rem;
    padding: 0.8rem;
    outline: none;
    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    transition: 0.3s border ease-in-out;
    color: var(--text-default);
}

.input::placeholder {
    color: var(--gray-500);
    font-size: 1.6rem;
    font-style: italic;
}

.input:focus {
    border-radius: 0.8rem;
    color: var(--text-default);
    border: 0.2rem solid var(--primary);
    transition: 0.3s border ease-in-out;
}

.input:disabled {
    border-bottom: 0.2rem solid var(--disabled);
    color: var(--text-muted);
}